<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="css/css.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>

    <div class="banniere">
        
        <div class="banniere_mid"><%= titlebanniere %></div>
        
    </div>

    <div class="header">
        <div class="img_header">
            <p><a class="nav_header" href="/">Accueil</a></p>
            <p><a class="nav_header" href="./link">Link</a></p>
            <p><a class="nav_header" href="./zelda">Zelda</a></p>
            <p><a class="nav_header" href="./ganondorf">Ganondorf</a></p>
            <p><a class="nav_header" href="./hyrule">Hyrule</a></p>  

        </div>
    </div>