body {
  margin: 0;
  padding: 0;
}

.banniere {
  display: flex;
  padding: 0.5em;
  font-size: 2em;
  text-align: center;
  background-color: rgb(168, 168, 201);
  background-attachment: fixed;
}
.banniere_left {
  flex-grow: 1;
}
.banniere_mid {
  flex-grow: 1;
}
.banniere_right {
  flex-grow: 1;
}

.header {
}

.img {
  background: url(https://images6.alphacoders.com/805/805656.jpg) no-repeat;
  height: 10em;
  background-attachment: fixed;
}

.contenu {
  display: flex;
}
.card_left {
  flex-grow: 1;
  text-align: center;
}
.card_mid {
  flex-grow: 1;
  text-align: center;
}
.card_right {
  flex-grow: 1;
  text-align: center;
}
img {
  width: 100%;
  margin: 1em;
}

p {
  font-size: 2em;
}
.contenu_text {
  display: flex;
  align-items: center;
  font-size: 0.6em;
}
.contenu_text_card-left {
  flex-grow: 1;
  
}
.contenu_text_card-mid {
  flex-grow: 1;
}
.contenu_text_card-right {
  flex-grow: 1;
}
.card_text {
  width: 50%;
  text-align: center;
}

.footer {
  display: flex;
  text-align: center;
  background-color: rgb(168, 168, 201);
  padding: 0.9em;
}
.footer_left {
  flex-grow: 1;
}
.footer_mid {
  flex-grow: 1;
}
.footer_right {
  flex-grow: 1;
}
