<%- include('partials/header'); -%>

<%- include('partials/card'); -%>
<p class="card_text">sombre, ses cheveux rouges et sa stature imposante. Il est souvent décrit comme un
    être très puissant, doté de compétences magiques redoutables et d'une force physique
    impressionnante.</p>
<%- include('partials/footer'); -%>

    


