<%- include('partials/header'); -%>



    <div class="contenu">
         <div class="card_left">
            <img src="./img/link.jpg"
                alt="Link" class="card">
            <div class="card_block">
                <p><a class="card_name" href="./link.html">Link</a></p>
                <p class="card_title">Héros Du Temps</p>
            </div>
        </div> 
        

        <div class="card_mid">
            <img src="./img/Zelda.jpg" alt="Zelda" class="card">
            <div class="card_block">
                <p><a class="card_name" href="./zelda.html">Zelda</a></p>
                <p class="card_title">Maitre De La Lumière</p>
            </div>
        </div>

        <div class="card_right">
            <img src="./img/ganondorf.webp" alt="Ganondorf"
                class="card">
            <div class="card_block">
                <p><a class="card_name" href="./ganondorf.html">Ganondorf</a></p>
                <p class="card_title">Incarnation Du Fléau</p>
            </div>
        </div>

    </div>

        <%- include('partials/footer'); -%>