<%- include('partials/header'); -%>


<%- include('partials/card'); -%>
<div class="contenu_text"></div>
<p class="card_text">Le personnage de Link est généralement un héros destiné à sauver la princesse Zelda
    et le royaume d'Hyrule des forces du mal, souvent incarnées par Ganon, le principal antagoniste de
    la série. Link est connu pour sa bravoure, sa persévérance et son sens du devoir. Il est souvent
    choisi par la Triforce, un pouvoir sacré qui représente le courage, la sagesse et la puissance.</p>
</div>

<%- include('partials/footer'); -%>
    