<%- include('partials/header'); -%>

<%- include('partials/card'); -%>
<p class="card_text">Le personnage de Zelda est souvent décrit comme une figure sage, noble et
    bienveillante. Elle est généralement associée à la Triforce de la Sagesse, l'un des trois fragments
    divins qui représentent le courage, la sagesse et la puissance. La Triforce de la Sagesse est
    considérée comme un artefact sacré, et Zelda est souvent gardienne de ce pouvoir</p>
<%- include('partials/footer'); -%>
    