.header {
}

.img_header {
  background: url(https://images6.alphacoders.com/805/805656.jpg) no-repeat;
  height: 10em;
  background-attachment: fixed;
  margin:0.5em;
  display:flex;
}
.nav_header{
  flex-grow: 1;
  text-decoration: none;
 color: white;
  transition: font-size 2s, color 1s;
}
.nav_header:hover{
  font-size:1.5em;
  color:rgb(172, 172, 158);
}

.text_nav{
  flex-grow: 1;
  text-align: center;
  font-size:1.6em;
}